<launch>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <rosparam file="$(find auto_arm)/config/ros_controllers.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"ns="auto_arm" args="arm_controller claw_controller "/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find auto_arm)/urdf/auto_arm.urdf -urdf -model auto_arm"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false" output="screen" >
    <param name="publish_frequency" type="double" value="40.0" />
    <remap from="/joint_states" to="/auto_arm/joint_states" />
  </node>
</launch>
